* {
    box-sizing: border-box;
}

header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;

}

.header-container {
    width: 1200px;
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    font-weight: 18px;
    color: #e5e7eb;
    display: flex;
    gap: 16px;
    margin: 0;
    margin-left: auto;
    padding: 16px;
}

a {
    text-decoration: none;
    
}

.logo {
    font-weight: 24px;
    color: #f9faf8;
    margin: 0;
    padding: 16px;
}

body {
    margin: 0;
}