* {
    box-sizing: border-box;
}

.background-dark {
    background-color: #1f2937;
}

.background-blue {
    background-color: #3882f6;
}

.background-grey {
    background-color: #e5e7eb;
}

.text-main-light {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.text-sec-light {
    font-size: 18px;
    color: #e5e7eb;
}

.text-med-light {
    font-size: 19px;
    font-weight: 700;
    color: #e5e7eb;
}

.text-logo {
    font-size: 24px;
    color: #f9faf8;
}

.text-main-dark {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.text-sec-dark {
    font-size: 24px;
    font-weight: 900;
    color: #1f2937;
}

.text-qoute {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.text-subtext {
    font-size: 18px;
    color: #2f3743;
}

.hero-placeholder {
    background-color: #666;
    color: #ccc;
}

/* POSITIONING STYLES */
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100vh;
    text-align: center;
}

main {
    flex: 1;
}

header,
footer {
    display: flex;
    align-items: center;
    padding: 10px 200px;
}

footer {
    justify-content: center;
}

header {
    justify-content: space-between;
}

.hero-head,
.logo {
    padding: 0;
    margin: 0;
}

.header-link {
    margin-left: 16px;
}

.hero-placeholder {
    width: 600px;
    height: 300px;
    padding-top: 140px;
}

.hero-text {
    max-width: 600px;
    text-align: start;
}

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 200px;
}